body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 45px;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #1a1a34;
    padding: 10px 0; 
    z-index: 1000;
    color: white;
}

.navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    padding: 0 20px; 
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left {
    width: 33%; 
}

.nav-right {
    width: 33%; 
    justify-content: flex-end; 
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.nav-left a,
.nav-right a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.nav-left a:last-child,
.nav-right a:last-child {
    margin-right: 0;
}

.nav-center h1 {
    margin: 0;
}
